body{
    background: #FFF;
    color: #000;
    
}

header{
    background: #3b5998;
    color: #FFF;
    font-family:  Helvetica, Arial, sans-serif;
}
#container{
    background: #ececec;
    
}

#logo{
    width: 34px;
    border-radius: 30px;
}
#divLogo{
    margin-right: 7px;
    display: inline-block;

}

#textdate{
    opacity: 0.3;
}

#post{
    background: #FFF;
    margin-top: 30px;
    color: #000;
    width: 600px; 
    margin-left: 10px;
    border-radius: 3px;
     
}

#nameAndDate{
    display: inline-block;
}

#identifierComent{
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    display: flex;
}

#commnt{
    margin-top: 20px;
    margin-left: 15px;
    background: #d4d4d4;
    border-radius: 5px;
    margin-right: 15px;
}

#contentComment{
    margin-top: 5px;
    margin-left: 30px;
    font-size: 14px;
}

#postContent{
    font-weight: bold;
    font-size: 50px;
}