body{
    background: #FFF;
    color: #000;
}

header{
    background: #3b5998;
    color: #FFF;
    font-family:  Helvetica, Arial, sans-serif;
}
#container{
    background: #ececec;
}

#logo{
    width: 34px;
    border-radius: 30px;
}
#divLogo{
    margin-right: 7px;
    display: inline-block;

}

#textdate{
    opacity: 0.3;
}

div{
    
}

#post{
    background: #FFF;
    margin-top: 30px;
    color: #000;
    width: 600px; 
    margin-left: 5px;
    border-radius: 3px;
     
}

#photoAndName{
    
}

#nameAndDate{
    display: inline-block;
}